
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.add-bar {
  line-height: 60px;
  background-color: #284F87;
}

.add-button {
  background-color: #091829;
  color: #284F87;
  height: 36px;
  border-radius: 40px;
}

.add-button:hover {
  background-color: #091829;
  border: none;
  color: #284F87;
}

.add-button:active {
  background-color: #091829;
  border: none;
  color: #284F87;
}

.plus {
  color: #284F87;
  font-size: 0px;
  vertical-align: middle;
}

.new-image-form {
  height: 250px;
  border: 2px solid black;
}

.image-url {
  width: 99%;
  margin-top: 50px;
}
.image-caption {
  width: 99%;
  margin-top: 20px;
}

.cancel-button,
.new-button {
  margin: 10px 0 0 10px;
  float: right;
  border: none;
  height: 40px;
  width: 100px;
}

.cancel-button {
  background-color: gray;
}

.cancel-button:hover {
  background-color: gray;
}
