
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.add-bar {
  line-height: 60px;
  background-color: #284F87;
}

.add-button {
  background-color: #091829;
  color: #284F87;
  height: 36px;
  border-radius: 40px;
}

.add-button:hover {
  background-color: #091829;
  border: none;
  color: #284F87;
}

.add-button:active {
  background-color: #091829;
  border: none;
  color: #284F87;
}

.plus {
  color: #284F87;
  font-size: 0px;
  vertical-align: middle;
}
